/* main content css */

.content-box {
    align-items: center;
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 61px);
	text-align: center;
	width: calc(100% - 230px);
	margin-left:230px;
}

/* main content css */